RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

#remove .html extension
RewriteRule ^([^\.]+)$ $1.html [NC,L]

#force trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]